@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our Auction Website</h1>
    <p>Currently in construction, Please come back soon!.</p>
    <img class="card-header" src="https://pbs.twimg.com/media/CuJkLgSUkAASxdj.jpg" />
</div>
